%alert {
  margin: 0 0 7px 0!important;
  min-height: 20px;
  overflow: hidden;
  padding: 8px 10px;
  width: 100%;
  @include border-radius(4px);
}

.alert {
  @extend %alert;
  background: lighten($red, 40%);
  color: $red;
}

.alert-success, .alert.success {
  @extend %alert;
  background: lighten($green, 40%);
  color: $green;
}

.alert-warning, .alert.warning {
  @extend %alert;
  background: $yellow;
  color: $darkYellow;
}
