%field {
  background: $white;
  border: $fieldBorder;
  color: $fieldColor;
  display: block;
  height: 20px;
  font-family: $fieldFontFamily;
  font-size: $fieldFontSize;
  line-height: 20px;
  margin: 0.5em 0;
  outline: none;
  padding: 3px 7px;
  width: 300px;
  @include border-radius(3px);
}

form {
  margin: 1.5em 0;

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="time"],
  input[type="tel"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="number"],
  input[type="url"],
  input[type="week"],
  input[type="month"] {
    @extend %field;
  }

  textarea {
    @extend %field;
    min-height: 200px;
    min-width: 300px;
    padding-top: 8px;
  }

  fieldset {
    border: $fieldSetBorder;
    padding: 1.5em;
    @include border-radius(2px);
  }
}
